@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url(https://fonts.googleapis.com/css?family=Vollkorn|Roboto);
html, body {
  color: white;
  font-family: 'PT Serif', serif;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wrap{
    overflow: hidden;
    text-align: left;
    margin: 0 auto;
    padding: 0;
}

/*header part*/

.header-top{
    top: -143px;
    left: 0px;
    height: 768px;
    width: 1366px;
    background: url(../img/jesse-gardner-0tKc9vaYUAw-unsplash.jpg) ;
    opacity: 1;
    background-size: cover;
}

.header-top h1{
    top: 450px;
    position: absolute;
    left: 1128px;
    width: 148px;
    height: 32px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 24px/32px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.header-top h2{
    position: absolute;
    top: 482px;
    font-size: 88px;
    left: 670px;
    width: 603px;
    height: 116px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal medium 88px/116px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.header-top button {
    top: 630px;
    left: 998px;
    width: 275px;
    height: 63px;
    border: 1px solid var(--unnamed-color-ffffff);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    opacity: 1;
    position: absolute;
    background-color: transparent;
    color:#FFFFFF;
}

/*profile part*/


.about-me-title p{
    top: 899px;
    left: 562px;
    width: 242px;
    height: 74px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal bold 56px/74px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}
.about-me-under-bar{
    top: 974px;
    left: 563px;
    width: 242px;
    height: 0px;
    border: 3px solid #2150BC;
    opacity: 1;
    position: absolute;
}


.profile_image img{
    top: 1020px;
    left: 208px;
    width: 323px;
    height: 287px;
    opacity: 1;
    position: absolute;
}

.introduction_text{
    top: 1035px;
    left: 637px;
    width: 562px;
    height: 256px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}

.profile_background p{ 
    top: 1355px;
    left: 637px;
    width: 173px;
    height: 43px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}

.profile_background_content {
    top: 1430px;
    left: 637px;
    width: 224px;
    height: 46px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
    white-space: nowrap
}

.profile_background p{
    top: 1355px;
    left: 637px;
    width: 173px;
    height: 43px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}
.profile_background p2{
    top: 1355px;
    left: 818px;
    width: 26px;
    height: 43px;
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #2150BC;
    opacity: 1;
    position: absolute;
}

/*service part*/
.service_section{
    top: 1719px;
    left: 0px;
    width: 1366px;
    height: 776px;
    background: url(../img/janko-ferlic-y0fjfgD2bLg-unsplash.jpg)  #001762 0% 0% no-repeat padding-box;
    background-position:bottom;  
    opacity: 0.6;
    
    background-size: cover;
    position: absolute;
}

.service_section::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:#001762;
    opacity: 0.5;
    display:block
}


.service_section2{
    top: 776px;
    left: 0px;
    width: 1366px;
    height: 424px;
    background: url(../img/janko-ferlic-y0fjfgD2bLg-unsplash.jpg)  #001762 0% 0% no-repeat padding-box;
    background-position: 20% 80%;
    opacity: 0.6;
    background-size: cover;
    position: absolute;
}

.service_section2::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:#001762;
    opacity: 0.5;
    display:block
}


.service-title p{
    top: 130px;
    left: 589px;
    width: 188px;
    height: 74px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 56px/74px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.Service-under-bar{
    top: 208px;
    left: 590px;
    width: 188px;
    height: 0px;
    border: 3px solid #6996FF;
    opacity: 1;
    position: absolute;
}



.service-subtitle{
    top: 277px;
    left: 347px;
    width: 672px;
    height: 69px;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal bold 24px/32px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.service-content-title1{
    top: 419px;
    left: 238px;
    width: 302px;
    height: 82px;
    background: #001762 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
    background:cover;
}
.service-content-title1 p{
    top: 20px;
    left:101px;
    width: 101px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}


.servive-price1{
    top: 509px;
    left: 238px;
    width: 302px;
    height: 216px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    position: absolute;
}

.servive-price1 p1{
    top: 32px;
    left: 79px;
    width: 144px;
    height: 21px;
    color: var(--unnamed-color-151515);
    text-align: center;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: relative;
}
.servive-price1 h1{
    top: 57px;
    left: 94px;
    width: 114px;
    height: 43px;
    text-align: center;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #2851D6;
    opacity: 1;
    position: absolute;
}

.servive-price1 p2{
    top: 116px;
    left: 94px;
    width: 114px;
    height: 21px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}
.servive-price1 h2{
    top: 141px;
    left: 81px;
    width: 140px;
    height: 43px;
    text-align: center;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #2851D6;
    opacity: 1;
    position: absolute;
}
.service-detailed1{
    top: 730px;
    left: 238px;
    width: 302px;
    height: 149px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    position: absolute;
}
.service-detailed1 h1{
    top: 32px;
    left: 31px;
    right:31px;
    width: 240px;
    height: 85px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal normal 13px/18px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}

.servive-used-technology1{
    top: 888px;
    left: 238px;
    width: 302px;
    height: 69px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    position: absolute;;
}

.servive-used-technology1 p1{
    top: 24px;
    left: 43px;
    width: 217px;
    height: 21px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}


.service-content-title2{
    top: 419px;
    left: 548px;
    width: 302px;
    height: 82px;
    background: #001762 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.service-content-title2 p{
    top: 20px;
    left: 66px;
    width: 170px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    position: absolute;
    opacity: 1;
}
.servive-price2{
    top: 509px;
    left: 550px;
    width: 302px;
    height: 216px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    position: absolute;
}

.servive-price2 p1{
    top: 32px;
    left: 94px;
    width: 114px;
    height: 21px;
    color: var(--unnamed-color-151515);
    text-align: center;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}
.servive-price2 h1{
    top: 57px;
    left: 81px;
    width: 140px;
    height: 43px;
    text-align: center;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #2851D6;
    opacity: 1;
    position: absolute;
}

.servive-price2 p2{
    top: 116px;
    left:28px;
    width: 247px;
    height: 21px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}
.servive-price2 h2{
    top: 141px;
    left: 81px;
    width: 140px;
    height: 43px;
    text-align: center;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #2851D6;
    opacity: 1;
    position: absolute;
}
.service-detailed2{
    top: 730px;
    left: 548px;
    width: 302px;
    height: 149px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    position: absolute;
}
.service-detailed2 h1{
    top: 32px;
    left: 32px;
    width: 240px;
    height: 59px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal normal 13px/18px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}
.service-used-technology2{
    top: 888px;
    left: 548px;
    width: 302px;
    height: 69px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    position: absolute;
}

.service-used-technology2 p1{
    top: 24px;
    left: 92px;
    width: 118px;
    height: 21px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}

.service-content-title3{
    top: 419px;
    left: 858px;
    width: 302px;
    height: 82px;
    background: #001762 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}

.service-content-title3 p{
    top:20px;
    left:73px;
    width: 157px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.service-price3{
    top: 509px;
    left: 858px;
    width: 302px;
    height: 216px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    position: absolute;
}

.service-price3 p1{
    top:32px;
    left: 81px;
    width: 141px;
    height: 21px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}

.service-price3 h1{
    top: 57px;
    left: 72px;
    width: 158px;
    height: 43px;
    text-align: center;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #2851D6;
    opacity: 1;
    position: absolute;
}

.service-price3 p2{
    top: 116px;
    left: 97px;
    width: 109px;
    height: 21px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}

.service-price3 h2{
    top: 141px;
    left: 72px;
    width: 158px;
    height: 43px;
    text-align: center;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #2851D6;
    opacity: 1;
    position: absolute;
}

.service-detailed3{
    top: 730px;
    left: 858px;
    width: 302px;
    height: 149px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    position: absolute;
}

.service-detailed3 h1{
    top:32px;
    left: 31px;
    width: 240px;
    height: 85px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal normal 13px/18px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}

.service-used-technology3{
    top: 888px;
    left: 858px;
    width: 302px;
    height: 69px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    position: absolute;
}

.service-used-technology3 p1{ 
    top:24px;
    left:51px;
    width: 201px;
    height: 21px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}


.contact-form-in-service button{
    top: 1088px;
    left: 545px;
    width: 276px;
    height: 63px;
    border: 1px solid var(--unnamed-color-ffffff);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    opacity: 1;
    position: absolute;
    color: #FFFFFF;
}

/*skill part*/
.skill-work-section{
  top:30px;
  position: absolute;

}

.skill_section_title h1{
    top: 3042px;
    left: 613px;
    width: 139px;
    height: 74px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal bold 56px/74px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}

.Skill-under-bar{
    top: 3117px;
    left: 614px;
    width: 139px;
    height: 0px;
    border: 3px solid #2150BC;
    opacity: 1;
    position: absolute;
}

.skill-frontend {
    top: 3181px;
    left: 95px;
    width: 360px;
    height: 504px;
    background: #001762 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}

.skill-frontend h1{
    top: 48px;
    left: 99px;
    width: 162px;
    height: 53px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 40px/53px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.skill-frontend h2{
    top: 109px;
    left: 90px;
    width: 180px;
    height: 20px;
    text-align: left;
    font: normal normal bold 20px/26px Roboto;
    letter-spacing: 0px;
    color: #B7B7B7;
    opacity: 1;
    position: absolute;
}

.skill-frontend p1{
    top: 177px;
    left: 128px;
    width: 105px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.skill-frontend p2{
    top:236px;
    left:141px;
    width: 79px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.skill-frontend p3{
    top: 295px;
    left: 103px;
    width: 154px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.skill-frontend p4{
    top: 354px;
    left: 133px;
    width: 94px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.skill-backend{
    top: 3181px;
    left: 503px;
    width: 360px;
    height: 504px;
    background: #40559A 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}

.skill-backend h1{
    top:48px;
    left:103px;
    width: 155px;
    height: 53px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 40px/53px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.skill-backend h2{
    top:109px;
    left:100px;
    width: 160px;
    height: 20px;
    text-align: left;
    font: normal normal bold 20px/26px Roboto;
    letter-spacing: 0px;
    color: #B7B7B7;
    opacity: 1;
    position: absolute;
}

.skill-backend p1{
    top:177px;
    left:148px;
    width: 64px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}


.skill-backend p2{
    top:236px;
    left:133px;
    width: 95px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.skill-backend p3{
    top:295px;
    left:144px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.skill-backend p4{
    top:354px;
    left: 87px;
    width: 187px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.skill-backend p5{
    top:413px;
    left:150px;
    width: 60px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.skill-other{
    top: 3181px;
    left: 911px;
    width: 360px;
    height: 504px;
    background: #001762 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}

.skill-other h1{
    top:48px;
    left: 121px;
    width: 120px;
    height: 53px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 40px/53px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.skill-other h2{
    top: 109px;
    left: 91px;
    width: 179px;
    height: 20px;
    text-align: left;
    font: normal normal bold 20px/26px Roboto;
    letter-spacing: 0px;
    color: #B7B7B7;
    opacity: 1;
    position: absolute;
}


.skill-other p1{
    top:177px;
    left: 102px;
    width: 157px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}


.skill-other p2{
    top:236px;
    left:133px;
    width: 95px;
    height: 43px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}




/*work part*/

.work_section_title h1{
    top: 3845px;
    left: 603px;
    width: 159px;
    height: 74px;
    color: var(--unnamed-color-151515);
    text-align: left;
    font: normal normal bold 56px/74px Roboto;
    letter-spacing: 0px;
    color: #151515;
    opacity: 1;
    position: absolute;
}

.Work-under-bar{
    top: 3920px;
    left: 604px;
    width: 159px;
    height: 0px;
    border: 3px solid #2150BC;
    opacity: 1;
    position: absolute;
}

.Work1{
    top: 3984px;
    left: 115px;
    width: 358px;
    height: 281px;
    background: transparent url('../img/todoapp.jpg') 0% 0% no-repeat padding-box;
    border: 1px solid #B5B5B5;
    opacity: 1;
    position: absolute;
}

.Work1-hover{
    top: 3984px;
    left: 115px;
    width: 358px;
    height: 281px;
    opacity: 1;
    position: absolute;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0;
}

.Work1-hover:hover{
    top: 3984px;
    left: 115px;
    width: 358px;
    height: 281px;
    opacity: 1;
    position: absolute;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.8;
}



.Work1-hover h1{
    color: #FFFFFF;
    font: normal normal normal 20px/21px Roboto;
    top:64px;
    left:109px;
    opacity: 1;
    position: absolute;
}

.Work1-hover h2{
    color: #FFFFFF;
    font: normal normal normal 16px/21px Roboto;
    top:120px;
    left:147px;
    opacity: 1;
    position: absolute;
}


.Work1-hover h3{
    color: #FFFFFF;
    top:144px;
    left:68px;
    font: normal normal normal 16px/21px Roboto;
    opacity: 1;
    position: absolute;
}


.Work1-hover h4{
    color: #FFFFFF;
    top:200px;
    left:44px;
    font: normal normal normal 16px/21px Roboto;
    opacity: 1;
    position: absolute;
}


.Work2{
    top: 3984px;
    left: 505px;
    width: 358px;
    height: 281px;
    background: transparent url('../img/todoapp.jpg') 0% 0% no-repeat padding-box;
    border: 1px solid #B5B5B5;
    opacity: 1;
    position: absolute;
}

.Work2-hover{
    top: 3984px;
    left: 505px;
    width: 358px;
    height: 281px;
    opacity: 1;
    position: absolute;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0;
    position: absolute;
}


.Work2-hover:hover{
    top: 3984px;
    left: 505px;
    width: 358px;
    height: 281px;
    opacity: 1;
    position: absolute;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.8;
    position: absolute;
}


.Work2-hover h1{
    color: #FFFFFF;
    font: normal normal normal 20px/21px Roboto;
    top:64px;
    left:109px;
    opacity: 1;
    position: absolute;
}

.Work2-hover h2{
    color: #FFFFFF;
    font: normal normal normal 16px/21px Roboto;
    top:120px;
    left:147px;
    opacity: 1;
    position: absolute;
}


.Work2-hover h3{
    color: #FFFFFF;
    top:144px;
    left:68px;
    font: normal normal normal 16px/21px Roboto;
    opacity: 1;
    position: absolute;
}


.Work2-hover h4{
    color: #FFFFFF;
    top:200px;
    left:72px;
    font: normal normal normal 16px/21px Roboto;
    opacity: 1;
    position: absolute;
}



.Work3{
    top: 3984px;
    left: 894px;
    width: 358px;
    height: 281px;
    background: transparent url('../img/web-company.png') 0% 0% no-repeat padding-box;
    border: 1px solid #B5B5B5;
    opacity: 1;
    position: absolute;
}

.Work3-hover{
    top: 3984px;
    left: 894px;
    width: 358px;
    height: 281px;
    opacity: 1;
    position: absolute;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.0;
    position: absolute;
}
.Work3-hover:hover{
    top: 3984px;
    left: 894px;
    width: 358px;
    height: 281px;
    opacity: 1;
    position: absolute;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.8;
    position: absolute;
}


.Work3-hover h1{
    color: #FFFFFF;
    font: normal normal normal 20px/21px Roboto;
    top:64px;
    left:100px;
    opacity: 1;
    position: absolute;
}

.Work3-hover h2{
    color: #FFFFFF;
    font: normal normal normal 16px/21px Roboto;
    top:120px;
    left:147px;
    opacity: 1;
    position: absolute;
}


.Work3-hover h3{
    color: #FFFFFF;
    top:144px;
    left:68px;
    font: normal normal normal 16px/21px Roboto;
    opacity: 1;
    position: absolute;
}


.Work3-hover h4{
    color: #FFFFFF;
    top:200px;
    left:12px;
    font: normal normal normal 16px/21px Roboto;
    opacity: 1;
    position: absolute;
    white-space: nowrap;
}

/*footer part*/
footer{

}


.footer-contact-form{
    top: 4425px;
    left: 0px;
    width: 1366px;
    height: 502px;
    background: #001762 0% 0% no-repeat padding-box;
    opacity: 0.6;
    background: url(../img/artem-beliaikin-qME4CejZTaI-unsplash.jpg);
    background-size: cover;
    position: absolute;
}

.footer-contact-form button{
    top:220px;
    color: #FFFFFF;
    left: 545px;
    width: 276px;
    height: 63px;
    border: 1px solid var(--unnamed-color-ffffff);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    opacity: 1;
    position: absolute;
    background-color: transparent;
}



.SNS-icon p1 img{
    top: 72px;
    left: 596px;
    width: 42px;
    height: 48px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 48px/58px Font Awesome 5 Brands;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}

.SNS-icon p2 img{
    top: 72px;
    left: 662px;
    width: 42px;
    height: 48px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 48px/58px Font Awesome 5 Brands;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}


.SNS-icon p3 img{
    top: 72px;
    left: 728px;
    width: 42px;
    height: 48px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 48px/58px Font Awesome 5 Brands;
    letter-spacing: 0px;
    color: #FFFFFF;
    position: absolute;
}







.copyright{
    top: 4927px;
    left: 0px;
    width: 1366px;
    height: 237px;
    background: #001762 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}

.copy-right-text{
    top: 152px;
    left: 526px;
    white-space: nowrap;
    width: 314px;
    height: 21px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}



/*レスポンシブデザイン*/